:root{
    --color-1: #e08f12;
    --color-2: #F8E43E;
    --color-3: #003366;
    --color-4: #02B5E7;
    --color-5: #00DFEE;
    --color-6: #545454;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
    color: #fff;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 90vw;
    background: radial-gradient(circle at 67% 37%, var(--color-2) 10%, var(--color-1) 40%);
}

body header{
    height: 17%;
    width: 110.5%;
}
body header img{
    margin: 1.5% 2%;
    height: 80%;
}

body main{
    height: 56%;
    width: 110.5%;
}
body main section:nth-child(1){
    height: 100%;
    width: 43%;

    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 8%;
}
body main section:nth-child(1) h1{
    margin: 2% 0%;

    font-size: 5vh;
    font-weight: 800;
}
body main section:nth-child(1) p{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;

    font-size: 3.9vh;
    font-weight: 300;
}
body main section:nth-child(1) p b{
    letter-spacing: -.1vh;
}
body main section:nth-child(1) form{
    height: 22.45vh;
    width: 64%;
    margin-left: 17.5%;
}
body main section:nth-child(1) form input{
    border: none;
    border-radius: 1vh;
    color: var(--color-6);

    height: 30%;
    width: 100%;
    padding-left: 3%;
}
body main section:nth-child(1) form input:nth-child(1){
    margin-bottom: 2.2vh;
}
body main section:nth-child(1) form input:nth-child(2){
    margin-bottom: 10%;
}
body main section:nth-child(1) form input:nth-child(3){
    background: linear-gradient(var(--color-4), var(--color-3));
    color: #fff;
    width: 40%;

    font-size: 2.5vh;
    font-weight: 600;
    padding: 0%;
}
body main section:nth-child(1) form input::placeholder{
    font-size: 2.3vh;
    font-weight: 600;
}
body main section:nth-child(1) form input:focus-visible{
    outline: .5vh solid #00DFEE;
}
body main section:nth-child(1) .links{
    width: 62%;
    margin-left: 17.5%;

    position: relative;
    bottom: 11%;
    display: flex;
    justify-content: space-between;
}
body main section:nth-child(1) .links a{
    font-size: 2.4vh;
    font-weight: 400;
}
body main section:nth-child(2){
    height: 100%;
    width: 56%;
    display: inline-block;
}
body main section:nth-child(2) img{
    height: 100%;
    position: relative;
    top: .5%;
}

body footer{
    background: linear-gradient(225deg, #02B5E7 -120%, #003366  100%);
    height: 27%;
    width: 111.1%;
    padding-top: .2%;
    text-align: center;
}
body footer span{
    font-size: 3vh;
    font-weight: 400;
}
body footer span b{
    color: var(--color-5);
    font-weight: 400;
}
body footer section{
    width: 93%;
    height: 55%;
    margin-top: .8%;
    margin-left: 7%;

    display: grid;
    grid-template-columns: 11% 13% 15% 13% 14%;
    grid-column-gap: 7%;
    grid-template-rows: 130%;
}
body footer section div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
body footer section div img{
    height: 35%;
    display: block;
    object-fit: contain;
}
body footer section div span{
    margin: 5%;
    font-size: 2vh;
    font-weight: 300;
}
.error{
    background: linear-gradient(var(--color-3), var(--color-4));
    color: #fff;
    border-radius: 5px;

    height: 13%;
    width: 13%;
    padding: .5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
}
.error img{
    height: 50%;
    object-fit: contain;
}
.error p{
    font-weight: 600;
}
.numberError{
    top: 38%;
    left: 36%;
}
.passwordError{
    top: 51.5%;
    left: 36%;
}
.submitError{
    top: 45%;
    left: 36%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 750px){
    body main section:nth-child(1){
        bottom: 9%;
    }
    body main section:nth-child(1) .links{
        bottom: 10%;
    }
}
@media only screen and (max-width: 550px){
    body{
        height: 100vh;
        width: 100vw;
    }

    body header{
        height: 10%;
        width: 100%;
    }

    body main{
        height: 76%;
        width: 100%;
    }
    body main section:nth-child(1){
        background: linear-gradient(var(--color-4) -100%, var(--color-3) 120%);
        height: 50%;
        width: 100%;
        top: 50%;
        bottom: 0%;
    }
    body main section:nth-child(1) h1{
        font-size: 3vh;
        font-weight: 700;
    }
    body main section:nth-child(1) p{
        font-size: 2.5vh;
    }
    body main section:nth-child(1) p b{
        color: var(--color-5);
        font-weight: 300;
    }
    body main section:nth-child(1) form{
        height: 15vh;
        width: 78%;
        margin-left: 10.5%;
    }
    body main section:nth-child(1) form input:nth-child(1){
        margin-bottom: 1vh
    }
    body main section:nth-child(1) form input:nth-child(2){
        margin-bottom: 15%;
    }
    body main section:nth-child(1) form input:nth-child(3){
        background: linear-gradient(var(--color-2) -40%, var(--color-1)70%);
        height: 35%;
        width: 50%;
    }
    body main section:nth-child(1) .links{
        width: 70%;
        margin-left: 15%;
        bottom: 10%;
    }
    body main section:nth-child(1) .links a{
        color: var(--color-5);
        font-size: 1.9vh;
    }
    body main section:nth-child(2){
        height: 50%;
        width: 100%;
        position: relative;
        bottom: 50%;
        display: flex;
        align-items: end;
    }
    body main section:nth-child(2) img{
        height: min-content;
        width: 100%;
    }
    
    body footer{
        height: 14%;
        width: 100%;
    } 
    body footer span{
        font-size: 1.8vh;
    }
    body footer section{
        width: 70%;
        height: 63%;
        margin-top: 0%;
        margin-left: 0%;
    
        position: relative;
        left: 15%;
        top: 4%;
        display: flex;
        justify-content: space-evenly;
    }
    body footer .flechaIzquierda{
        background-color: transparent;
        background-image: url(../../imagenes/flechaIzquierda.png);
        background-size: contain;
        background-repeat: no-repeat;

        height: 7%;
        width: 15%;
        position: absolute;
        top: 90%;
        right: 85%;
    }
    body footer .flechaDerecha{
        background-color: transparent;
        background-image: url(../../imagenes/flechaDerecha.png);
        background-size: contain;
        background-repeat: no-repeat;

        height: 7%;
        width: 15%;
        position: absolute;
        top: 90%;
        left: 85%;
    }
    body footer .flechaIzquierda:active{
        background-image: url(../../imagenes/izquierdaActive.png);
        height: 5%;
        top: 90.7%;
        right: 83%;
    }
    body footer .flechaDerecha:active{
        background-image: url(../../imagenes/derechaActive.png);
        height: 5%;
        top: 90.7%;
        left: 85.12%;
    }
    body footer section div img{
        height: 45%;
    }
    body footer section div span{
        font-size: 1.5vh;
    }

    .info:nth-child(3){
        display: none;
    }
    .info:nth-child(4){
        display: none;
    }
    .info:nth-child(5){
        display: none;
        width: 50%;
    }

    .error{
        height: 8%;
        width: 30%;
        padding: 5%;
    }
    .error img{
        height: 70%;
    }
    .error p{
        font-size: 1.6vh;
    }
    .numberError{
        top: 20%;
        left: 18%;
    }
    .passwordError{
        top: 20%;
        left: 52%;
    }
    .submitError{
        top: 20%;
        left: 35%;
    }
}